page-nosotros {

  ion-card.adv-map p {
    font-size: 0.7em !important;
  }

  button[fab].fab-map {
    top: calc(100% - 35px);
    z-index: 50;
  }

  .item-bold {
    font-weight: bold;
  }

  ion-content.cards-bg {
    background-color: #f4f4f7;
  }

  .text-justify{
    text-align: justify;
  }

  .btn-app{
    font-size: 27px;
  }

  .btn-fab{
    margin-top: 50px;
    margin-right: -10px;
  }

}
